# Build artifacts
bin/flauta.js
lib/*

# Generated and/or Dependencies
node_modules/
coverage/
flow-typed/
docs/

# Environment specific
npm-debug.log
yarn-error.log

# Tools
.projections.json
.lvimrc
cache
